Solution2FlowApprovals/Microsoft.Flow/flows/43510e5b-0144-476c-a128-ced8421ba3b6/definition.json
{"name":"8f75f81d-99b5-4ad7-82a4-715e80e93500","id":"/providers/Microsoft.Flow/flows/8f75f81d-99b5-4ad7-82a4-715e80e93500","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"FateApprovalScript","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"9011aedb-9e27-4fda-8bb1-fccbd9bb9e29","type":"User","tenantId":"ea7f704e-aaa4-4dd8-9bec-8654a814fc02"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2019-05-04T23:07:51.0262348Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://topness.sharepoint.com/D365'))}/tables/@{encodeURIComponent(encodeURIComponent('Fate'))}/onnewitems","authentication":"@parameters('$authentication')"}}},"actions":{"SetApprover":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Approver","type":"String","value":"admin@topness.onmicrosoft.com"}]}},"Get_mail_tips_for_a_mailbox":{"runAfter":{"SetApprover":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetMailTips"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365"}},"method":"get","path":"/MailTips","queries":{"mailboxAddress":"@variables('Approver')"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{},"runAfter":{"Get_mail_tips_for_a_mailbox":["Succeeded"]},"else":{"actions":{"Get_manager_(V2)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Manager_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365users"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(variables('Approver'))}/manager","authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Get_manager_(V2)":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Approver","value":"@body('Get_manager_(V2)')?['mail']"}}}},"expression":{"equals":["@empty(body('Get_mail_tips_for_a_mailbox')?['AutomaticReplies']?['Message'])",true]},"type":"If"},"Start_and_wait_for_an_approval":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"approvalSubscribeV2"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/approvals"}},"body":{"notificationUrl":"@{listCallbackUrl()}","responseOptions":["FORTRAN","PowerApps!"],"title":"Weigh in on @{triggerBody()?['{FilenameWithExtension}']}","assignedTo":"@{variables('Approver')};","details":"What say you?","itemLink":"@triggerBody()?['{Link}']","itemLinkDescription":"@triggerBody()?['{FilenameWithExtension}']","enableNotifications":true},"path":"/types/@{encodeURIComponent('CustomResponse')}/$subscriptions","authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"patch","body":{"Fate":{"Value":"@body('Start_and_wait_for_an_approval')?['response']"},"Approver":{"Claims":"@body('Start_and_wait_for_an_approval')?['responder']?['userPrincipalName']"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://topness.sharepoint.com/D365'))}/tables/@{encodeURIComponent(encodeURIComponent('Fate'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Insert_row":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sql']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sql"}},"method":"post","body":{"Name":"@triggerBody()?['{FilenameWithExtension}']","Fate":"@body('Start_and_wait_for_an_approval')?['response']","UpdateDate":"@{utcNow()}"},"path":"/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Fate]'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_item":["Succeeded"]},"expression":{"equals":["@body('Start_and_wait_for_an_approval')?['response']","FORTRAN"]},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-f2cb409f-2be2-4714-9e6c-061f829edf47","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-9810e4c3-d3d6-4199-800d-0d0523863ced","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-6e963974-2542-49ce-9d07-e59d2828ab75","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-cee413bd-1e6f-4703-9965-069f5589cc5d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_sql":{"connectionName":"shared-sql-a3d024f9-7aa4-4c7a-b917-a314b06a7e83","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sql","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}