Solution1PowerAppsPlusFlow/Microsoft.Flow/flows/1590b8db-4a8b-4416-916d-bcff105df2a5/definition.json
{"name":"84a74df6-d08a-442f-9d94-5dc6ff0c7051","id":"/providers/Microsoft.Flow/flows/84a74df6-d08a-442f-9d94-5dc6ff0c7051","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"FateButtonScript","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"9011aedb-9e27-4fda-8bb1-fccbd9bb9e29","type":"User","tenantId":"ea7f704e-aaa4-4dd8-9bec-8654a814fc02"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2019-05-04T22:42:00.3971431Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","required":["Createfile_FileName","Createfile_FileContent"],"properties":{"Createfile_FileName":{"type":"string","description":"Name of the file.. This parameter is used as part of \"8113B8A3-73A7-445A-B8B2-FEE3C4DDF08C\"","x-ms-powerflows-param-ispartial":true},"Createfile_FileContent":{"type":"string","format":"binary","description":"Content of the file.","x-ms-powerflows-param-ispartial":false}}}}}},"actions":{"SetFaceImage":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"FaceImage","type":"Object","value":"@dataUriToBinary(triggerBody()['Createfile_FileContent'])"}]}},"SetHappiness":{"runAfter":{"SetFaceImage":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Happiness","type":"Float","value":0}]}},"HTTP":{"runAfter":{"SetHappiness":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://eastus.api.cognitive.microsoft.com/face/v1.0/detect","headers":{"Ocp-Apim-Subscription-Key":"dee4124a56654d01b955a3987985d61d","Content-Type":"application/octet-stream"},"queries":{"returnFaceAttributes":"age,gender,emotion,smile,hair"},"body":"@variables('FaceImage')"}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"array","items":{"type":"object","properties":{"faceId":{"type":"string"},"faceRectangle":{"type":"object","properties":{"width":{"type":"integer"},"height":{"type":"integer"},"left":{"type":"integer"},"top":{"type":"integer"}}},"faceLandmarks":{"type":"object","properties":{"pupilLeft":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"pupilRight":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseTip":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"mouthLeft":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"mouthRight":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyebrowLeftOuter":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyebrowLeftInner":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeLeftOuter":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeLeftTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeLeftBottom":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"number"}}},"eyeLeftInner":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"integer"}}},"eyebrowRightInner":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyebrowRightOuter":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeRightInner":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"integer"}}},"eyeRightTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeRightBottom":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"number"}}},"eyeRightOuter":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseRootLeft":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"number"}}},"noseRootRight":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseLeftAlarTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseRightAlarTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"integer"}}},"noseLeftAlarOutTip":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseRightAlarOutTip":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"upperLipTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"upperLipBottom":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"underLipTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"underLipBottom":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}}}},"faceAttributes":{"type":"object","properties":{"age":{"type":"number"},"gender":{"type":"string"},"smile":{"type":"number"},"facialHair":{"type":"object","properties":{"moustache":{"type":"number"},"beard":{"type":"number"},"sideburns":{"type":"number"}}},"glasses":{"type":"string"},"headPose":{"type":"object","properties":{"roll":{"type":"number"},"yaw":{"type":"integer"},"pitch":{"type":"integer"}}},"emotion":{"type":"object","properties":{"anger":{"type":"number"},"contempt":{"type":"number"},"disgust":{"type":"number"},"fear":{"type":"number"},"happiness":{"type":"number"},"neutral":{"type":"number"},"sadness":{"type":"number"},"surprise":{"type":"number"}}},"hair":{"type":"object","properties":{"bald":{"type":"number"},"invisible":{"type":"boolean"},"hairColor":{"type":"array","items":{"type":"object","properties":{"color":{"type":"string"},"confidence":{"type":"number"}},"required":["color","confidence"]}}}},"makeup":{"type":"object","properties":{"eyeMakeup":{"type":"boolean"},"lipMakeup":{"type":"boolean"}}},"occlusion":{"type":"object","properties":{"foreheadOccluded":{"type":"boolean"},"eyeOccluded":{"type":"boolean"},"mouthOccluded":{"type":"boolean"}}},"accessories":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"confidence":{"type":"number"}},"required":["type","confidence"]}},"blur":{"type":"object","properties":{"blurLevel":{"type":"string"},"value":{"type":"number"}}},"exposure":{"type":"object","properties":{"exposureLevel":{"type":"string"},"value":{"type":"number"}}},"noise":{"type":"object","properties":{"noiseLevel":{"type":"string"},"value":{"type":"number"}}}}}},"required":["faceId","faceRectangle","faceAttributes"]}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Happiness","value":"@items('Apply_to_each')?['faceAttributes']?['emotion']?['happiness']"}}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"},"Condition":{"actions":{"Respond_to_PowerApps":{"runAfter":{},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"text":"good"},"schema":{"type":"object","properties":{"text":{"title":"text","type":"string","x-ms-dynamically-added":true}}}}}},"runAfter":{"Apply_to_each":["Succeeded"]},"else":{"actions":{"Create_file":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":"@variables('FaceImage')","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://topness.sharepoint.com/D365'))}/files","queries":{"folderPath":"/Fate","name":"@{triggerBody()['Createfile_FileName']}.png","queryParametersSingleEncoded":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Respond_to_PowerApps_2":{"runAfter":{"Create_file":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"text":"bad"},"schema":{"type":"object","properties":{"text":{"title":"text","type":"string","x-ms-dynamically-added":true}}}}}}},"expression":{"greaterOrEquals":["@variables('Happiness')",0.5]},"type":"If"}},"outputs":{},"description":"Create one or more actions to happen when a button or link in PowerApps is selected. To use this flow from a PowerApp, select the control you want to trigger the flow and go to the Action tab in the PowerApps ribbon and select Flows."},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-f2cb409f-2be2-4714-9e6c-061f829edf47","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}